In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as it
import collections as abc
import os
import calendar
import datetime
import re

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = []

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [8]:
data.query('imdb_id in ["tt1345836","tt0413300","tt2395427","tt1032751","tt1298650"]').sort_values(by="budget", ascending=False)
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [10]:
data.query('imdb_id in ["tt0167260","tt0279111","tt0360717","tt0213149","tt0346491"]').sort_values(by="runtime", ascending=False)
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [12]:
data.query('imdb_id in ["tt0299172","tt0283426","tt1449283","tt0121164","tt0443536"]').sort_values(by="runtime")
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [14]:
data['runtime'].mean()
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [16]:
data['runtime'].median()
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [18]:
data['profit'] = data['revenue'] - data['budget'] 
data.query('imdb_id in ["tt0848228","tt2293640","tt2488496","tt2820852","tt0499549"]').sort_values(by="profit", ascending=False)
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [20]:
data.query('imdb_id in ["tt0134983","tt1032751","tt0424095","tt0180052","tt1210819"]').sort_values(by="profit")
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [22]:
len(data.query('profit > 0'))
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [27]:
data.query('release_year == 2008').sort_values(by="profit", ascending=False)
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [30]:
data.query('profit < 0 & 2011 < release_year < 2015').sort_values(by="profit")
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [32]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [34]:
pd.DataFrame(data.query('profit > 0').genres.str.split('|').tolist()).stack().value_counts()
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [36]:
pd.DataFrame(data.director.str.split('|').tolist()).stack().value_counts()
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [38]:
pd.DataFrame(data.query('profit > 0').director.str.split('|').tolist()).stack().value_counts()
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [41]:
df_dir = pd.DataFrame(data.director.str.split('|').tolist()).stack().reset_index()
df_dir.columns =  ['row1', 'row2', 'director']
df_dir['profit_dir'] = df_dir.row1.apply(lambda x: data.iloc[x]['profit'])
df_dir.groupby(['director'])['profit_dir'].sum().sort_values(ascending=False)

answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [42]:
df_dir = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index()
df_dir.columns =  ['row1', 'row2', 'actor']
df_dir['profit_dir'] = df_dir.row1.apply(lambda x: data.iloc[x]['profit'])
df_dir.groupby(['actor'])['profit_dir'].sum().sort_values(ascending=False)

answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [43]:
data_2012 = data.query('release_year == 2012')
df_dir = pd.DataFrame(data_2012.cast.str.split('|').tolist()).stack().reset_index()
df_dir.columns =  ['row1', 'row2', 'actor']
df_dir['profit_dir'] = df_dir.row1.apply(lambda x: data_2012.iloc[x]['profit'])
df_dir.groupby(['actor'])['profit_dir'].sum().sort_values()

answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [44]:
budget_mean = data['budget'].mean()
data_frag_18 = data.query('budget > @budget_mean')
pd.DataFrame(data_frag_18.cast.str.split('|').tolist()).stack().value_counts()

answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [45]:
data_frag_19 = data[data.cast.str.contains("Nicolas Cage")]
pd.DataFrame(data_frag_19.genres.str.split('|').tolist()).stack().value_counts()

answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [46]:
pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()

answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [47]:
data_frag_21 = data.query('release_year == 2015')
pd.DataFrame(data_frag_21.production_companies.str.split('|').tolist()).stack().value_counts()

answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [48]:
data_frag_22 = data[data.genres.str.contains("Comedy")]
df_dir = pd.DataFrame(data_frag_22.production_companies.str.split('|').tolist()).stack().reset_index()
df_dir.columns =  ['row1', 'row2', 'production_company']
df_dir['profit_comp'] = df_dir.row1.apply(lambda x: data_frag_22.iloc[x]['profit'])
df_dir.groupby(['production_company'])['profit_comp'].sum().sort_values(ascending=False)

answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [49]:
data_frag_23 = data.query('release_year == 2012')
df_dir = pd.DataFrame(data_frag_23.production_companies.str.split('|').tolist()).stack().reset_index()
df_dir.columns =  ['row1', 'row2', 'production_company']
df_dir['profit_comp'] = df_dir.row1.apply(lambda x: data_frag_23.iloc[x]['profit'])
df_dir.groupby(['production_company'])['profit_comp'].sum().sort_values(ascending=False)

answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [50]:
data[data.production_companies.str.contains("Paramount Pictures")].sort_values(by='profit')

answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [51]:
data.groupby(['release_year']).sum().sort_values(by='profit', ascending=False)

answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [52]:
data_frag_26 = data[data.production_companies.str.contains("Warner Bros")]
data_frag_26.groupby(['release_year']).sum().sort_values(by='profit', ascending=False)

answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [53]:
data_frag_27 = pd.DataFrame(data.release_date.str.split('/').tolist()).drop([1, 2], axis=1)
data_frag_27[0] = data_frag_27[0].apply(lambda x: calendar.month_abbr[int(x)])
data_frag_27[0].value_counts()

answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [54]:
data_frag_28 = pd.DataFrame(data.release_date.str.split('/').tolist()).drop([1, 2], axis=1)
data_frag_28[0] = data_frag_28[0].apply(lambda x: calendar.month_abbr[int(x)])
data_frag_28[0].value_counts()[['Jun','Jul','Aug']].sum()

answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [55]:
data['release_month'] = pd.DatetimeIndex(data['release_date']).month
data['release_month'] = data['release_month'].apply(lambda x: calendar.month_abbr[int(x)])

pd.DataFrame(data.query('release_month in ["Dec","Jan","Feb"]').director.str.split('|').tolist()).stack().value_counts()

answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [57]:
data['release_month'] = pd.DatetimeIndex(data['release_date']).month
data['release_month'] = data['release_month'].apply(lambda x: calendar.month_abbr[int(x)])
pivot = data.pivot_table(values=['profit'], index=['release_month'], columns=['release_year'], aggfunc='sum')
pivot.idxmax().value_counts()

# Первоначально делал так, получился тот же ответ, но без разбивки по годам.
# data.groupby('release_month').sum().sort_values('profit', ascending = False)

answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [59]:
data['title_length'] = data['original_title'].str.len()
df_dir = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index()
df_dir.columns =  ['row1', 'row2', 'production_company']
df_dir['title_length_com'] = df_dir.row1.apply(lambda x: data.iloc[x]['title_length'])
df_dir.groupby(['production_company'])['title_length_com'].mean().sort_values(ascending=False)

answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [62]:
data['title_length_words'] = data['original_title'].str.split().str.len()
df_dir = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index()
df_dir.columns = ['row1', 'row2', 'production_company']
df_dir['title_length_words_com'] = df_dir.row1.apply(lambda x: data.iloc[x]['title_length_words'])
df_dir.groupby(['production_company'])['title_length_words_com'].mean().sort_values(ascending=False)

answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [63]:
words_list = pd.DataFrame(data.original_title.str.lower().str.split().tolist()).stack().unique().tolist()
len(words_list)

answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [68]:
best_rating = np.percentile(data.vote_average, 99) 
data.query('@data.vote_average > @best_rating').original_title
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [69]:
actors = ['Johnny Depp & Helena Bonham Carter','Hugh Jackman & Ian McKellen'
          ,'Vin Diesel & Paul Walker','Adam Sandler & Kevin James','Daniel Radcliffe & Rupert Grint']

pairs_df = pd.DataFrame({'movies':0}, index = actors)

def func (actor_1, actor_2):
    movies_counter = 0
    for x in data.cast:
        first_condition = actor_1 in x
        second_condition = actor_2 in x
        if first_condition == True and second_condition == True:
            movies_counter += 1
        else:
            continue
    return movies_counter

pairs_df.loc['Johnny Depp & Helena Bonham Carter'] = func ('Johnny Depp', 'Helena Bonham Carter')
pairs_df.loc['Hugh Jackman & Ian McKellen'] = func ('Hugh Jackman', 'Ian McKellen')
pairs_df.loc['Vin Diesel & Paul Walker'] = func ('Vin Diesel', 'Paul Walker')
pairs_df.loc['Adam Sandler & Kevin James'] = func ('Adam Sandler', 'Kevin James')
pairs_df.loc['Daniel Radcliffe & Rupert Grint'] = func ('Daniel Radcliffe', 'Rupert Grint')

pairs_df.sort_values(by="movies",ascending=False)

answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [70]:
data['profit'] = data['revenue'] - data['budget']
directors_list = pd.DataFrame(data.director.str.split('|').tolist()).stack().unique().tolist()
df_36 =  pd.DataFrame({'movies':0, 'good_movies':0, 'bad_movies':0,'profitability':0.}, index = directors_list)

good_movies = data.query('profit > 0')
bad_movies = data.query('profit <= 0')

for director in directors_list:
    df_36.loc[director, 'good_movies'] = good_movies.director.str.contains(director).sum()
    df_36.loc[director, 'bad_movies'] = bad_movies.director.str.contains(director).sum()           
    
df_36['movies'] = df_36['good_movies'] + df_36['bad_movies']
df_36['profitability'] = df_36['good_movies']/df_36['movies']

df_36.query('index in ["Quentin Tarantino","Steven Soderbergh","Robert Rodriguez","Christopher Nolan","Clint Eastwood"]').sort_values(by='profitability', ascending=False)
answer_ls.append(4)

# Submission

In [71]:
len(answer_ls)

36

In [72]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4